{% if latest_to_do_list %}
    <ul>
    {% for to_do_point in latest_to_do_list %}
       <li><a href="{% url 'to_do_app:edit' to_do_point.id %}">{{ to_do_point.to_do_point_text }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}

<form action="{% url 'to_do_app:add' %}" method="post">
{% csrf_token %}
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
<textarea name="to_do_point_text" id="add"></textarea>
<br><br>
<input type="submit" value="Add">
</form>
